footer, .footer {
	width: 100%;
	bottom: 0;
	text-align: center;
}

hr {
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #ffffff;
}

section > table {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* . */
body {
	padding-top: 20px;
	padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}
.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	margin: 60px 0;
	text-align: center;
}
.jumbotron h1 {
	font-size: 72px;
	line-height: 1;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.sidebar .nav-link {
	color: white !important;
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}

body {
	background-color: #263238;
	color: #AEC7D1;
	font-family: 'Work Sans', sans-serif;
}

.nav-pills > li > a {
	color: #AEC7D1;
}

.nav-pills > li > a:hover, .nav-pills > li > a:focus-within {
	background-color: inherit;
	color: white;
}